.top-bar {
    padding: 8px 24px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 375px) and (max-width: 899px) {
        padding: 0 0 26px 16px;
    }

    &__text {
        color: #000;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;

        @media (min-width: 375px) and (max-width: 899px) {
            display: none;
        }

        &:last-child {
            margin-left: 24px;
        }
    }

    &__wrap {
        display: flex;
    }
}

.top-bar .logo {
    @media (min-width: 375px) and (max-width: 899px) {
        display: none;
    }
}