.top-bar {
    padding: 4px 5px 13px 5px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__min-order {
        color: #ED6B06;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-left: 40px;

        span {
            color: #209041;
        }
    }

    &__wrap {
        display: flex;

        &_last {
            color: #000;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;

            p {
                &:last-child {
                    margin-left: 24px;
                }
            }
        }

    }
}