.footer {
    background: #209041;
    padding-top: 79px;
    padding-bottom: 42px;

    &__wrap {
        display: flex;

        &_top {
            justify-content: space-between;
        }

        &_middle {
            flex-direction: column;
            margin: 46px 0;
        }

        &_bottom {
            justify-content: space-between;
            color: #FFF;
            font-family: Rubik;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;

            p:last-child {
                margin-left: 24px;
            }
        }
    }

    &__title {
        color: #FFF;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &__list {
        list-style-type: none;
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    &__list-item {
        margin-bottom: 8px;
    }

}

.footer-background {
    height: 114px;
    background-image: url(../../img/backgroundimg.png);
    background-size: cover;
}