.footer {
    background: #209041;
    padding-top: 79px;
    padding-bottom: 42px;

    &__wrap {
        display: flex;

        @media (min-width: 375px) and (max-width: 899px) {
            align-items: center;
        }

        &_top {
            @media (min-width: 900px) {
                justify-content: space-between;

            }

            @media (min-width: 375px) and (max-width: 899px) {
                flex-direction: column;
            }
        }

        &_middle {
            flex-direction: column;
            margin: 46px 0;
        }

        &_bottom {
            justify-content: space-between;
            color: #FFF;
            font-family: Rubik;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;

            @media (min-width:375px) and (max-width: 899px) {
                flex-direction: column-reverse;
            }

            p {
                @media (min-width:375px) and (max-width: 899px) {
                    margin-top: 16px;
                }

                @media (min-width: 900px) {
                    &:last-child {
                        margin-left: 24px;
                    }
                }
            }
        }
    }

    &__titles {
        @media (min-width:375px) and (max-width: 899px) {
            display: flex;

            p:last-child {
                margin-left: 16px;
            }
        }
    }

    &__title {
        color: #FFF;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &__list {
        list-style-type: none;
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;


    }

    &__list-item {
        margin-bottom: 8px;
    }

    &__line {
        display: block;
        border: 1px solid #fff;
        margin: 48px 16px;
        opacity: 0.2;

        @media (min-width: 900px) {
            display: none;
        }
    }

    &__agreements {
        display: flex;

        @media (min-width: 375px) and (max-width: 899px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.footer-background {
    height: 60px;
    background-image: url(../../img/backgroundimg.png);
    background-size: cover;

    @media (min-width: 1199px) {
        height: 114px;
    }
}