.footer {
    background: #209041;
    padding-top: 79px;
    padding-bottom: 42px;

    &__wrap {
        display: flex;

        &_top {
            justify-content: space-between;
        }

        &_middle {
            flex-direction: column;
            margin: 46px 0;
        }

        &_bottom {
            justify-content: space-between;
            color: #FFF;
            font-family: Rubik;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;

            p:last-child {
                margin-left: 24px;
            }
        }
    }

    &__title {
        color: #FFF;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &__list {
        list-style-type: none;
        color: #FFF;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    &__list-item {
        margin-bottom: 8px;
    }

    &__tools {
        display: flex;
        justify-content: space-between;
    }

    &__download-app {
        display: flex;
    }

    &__download-items {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
    }

    &__download-item {
        background: none;
        border: none;
    }

    &__payment-method {
        // display: flex;
        margin-left: 116px;
        align-self: flex-end;
    }

    &__payment-item {
        background: none;
        border: none;
        margin-right: 16px;
    }

    &__social-networking {
        display: flex;
        align-self: flex-end;
    }

    &__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        margin-left: 12px;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #209041;
        }
    }
}

.footer-background {
    height: 114px;
    background-image: url(../../img/backgroundimg.png);
    background-size: cover;
}