.min-order {
    color: #ED6B06;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 40px;

    span {
        color: #209041;
    }
}